/*
font-family: 'Space Grotesk', sans-serif;
*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  border: none;
}

.image,
img {
  box-shadow: var(--box-shadow);
  border-radius: 50px;
  border: 1px solid var(--border-color);
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.name-tag {
  width: 380px;
  position: relative;
  bottom: 125px;
  left: 10px;
  background-color: black;
  color: var(--primary-color);
  border-radius: 4px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  padding: 20px;
  font-weight: 300;
  background: rgba(242, 242, 242, 0.4);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(242, 242, 242, 0.2);
}

.portfolio_title {
  font-size: 40px;
  color: black;
  line-height: 40px;
  margin: 0 0 20px 0;
}
.address--info {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background: invert;
}
.address--info ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.address--info ul li {
  align-items: center;
  display: flex;
  justify-items: flex-start;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.address--info ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}
.portfolio_description {
  padding: 0 100px;
  text-align: center;
}
.description {
  padding: 0 100px;
}
.portfolio_description,
.description {
  margin: 20px auto;
  line-height: 24px;
}

@media screen and (max-width: 1080px) {
  .image img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
  }
  .portfolio_title {
    line-height: 40px;
    font-weight: 400;
    color: #0be881;
  }
  .portfolio_description {
    text-align: center;
    padding: 20px 20px;
    color: var(--secondary-color);
  }
  .portfolio_description h2 {
    font-size: 34px;
    font-weight: 400;
    margin: 20px 0;
  }

  body {
    background-color: #1e272e;
  }
}
