/*
font-family: 'Space Grotesk', sans-serif;
*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  border: none;
}

.image,
img {
  box-shadow: var(--box-shadow);
  border-radius: 50px;
  border: 1px solid var(--border-color);
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.portfolio_title {
  font-size: 40px;
  color: black;
  line-height: 40px;
  margin: 0 0 20px 0;
}
.address--info {
  padding: 5px;
  display: flex;
  margin-bottom: 60px;
}
.address--info ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 40px;
}
.address--info ul li a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color-80);
}

.portfolio_description {
  padding: 0 100px;
  text-align: center;
}
.description {
  padding: 0 100px;
}
.portfolio_description,
.description {
  margin: 20px auto;
  line-height: 24px;
}

@media screen and (max-width: 1080px) {
  .image img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
  }
  .portfolio_title {
    line-height: 40px;
    font-weight: 400;
    color: #0be881;
  }
  .portfolio_description {
    text-align: center;
    padding: 20px 20px;
    color: var(--secondary-color);
  }
  .portfolio_description h2 {
    font-size: 34px;
    font-weight: 400;
    margin: 20px 0;
  }

  body {
    background-color: #1e272e;
  }
}
