@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url(/css/nav.css);
@import url(/css/home_main_sec.css);
@import url(/css/home.css);
@import url(/css/button.css);
@import url(/css/contact.css);

:root {
  --primary-color: #0d0d0d;
  --primary-color-80: #262626;
  --primary-color-60: #bfbfbf;
  --secondary-color: #f2f2f2;
  --border-color: #dfe4ea;
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  --border-radius: 10px;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}
body {
  background-image: linear-gradient(#fbfbfb 1px, transparent 1px),
    linear-gradient(to right, #fbfbfb 1px, transparent 1px);
  background-size: 10px 10px;
  background-color: #ffffff;
}
